@import "../../styles/main.scss";

.mobile-scroll-settings {
  @include mobile-scroll(75.1vh, 100%, 0.5rem);
  overflow: unset;

  .settings-page {
    @include scroll-page();

    .settings-container {
      padding: 1rem 2rem;

      .settings-titles {
        .settings-title-bottom {
          margin-bottom: 1rem;
        }
      }

      .settings-enrolled {
        margin-top: 3rem;
      }
      .settings-boxcard {
        background-color: $white;
        border: 1px solid $strokeGray;
        cursor: pointer;
        display: flex;
        justify-content: space-between;
        margin-bottom: 2rem;

        &:hover {
          background-color: rgba($color: $disabled, $alpha: 0.2);
        }
      }
      .settings-settings-controls {
        text-align: left;

        .settings-info-icon {
          color: $gray600;
          cursor: pointer;
        }

        .settings-switch-anchor {
          display: inline-block;
          font-size: 0.7rem;
          margin-left: 0.3rem;
        }

        .settings-btn-leave {
          background: none;
          border: none;
          color: $mainPurple;
          cursor: pointer;
          margin: 1rem 0.8rem;
          display: inline-block;

          &:hover {
            color: $overlay;
          }
        }
      }

      .settings-leave-confirm {
        margin-top: 10rem;

        & > * {
          text-align: center;
        }
      }
    }
  }
}

.settings-paused-icon {
  color: $mainPurple;
  font-size: 3rem;
}

.settings-modal {
  background-color: $white;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 80%;

  .settings-modal-btns {
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;

    .settings-secondary-btnFake {
      @include btns($white, $secondaryDark, $strokeGray, 0.2);
      border: 1px solid $strokeGray;
    }

    & > * {
      margin: 0 1rem;
    }

    .settings-primaryBtn-fix {
      height: fit-content;
    }
  }
}

.settings-leave-button {
  bottom: 8.5rem;
  position: absolute;
  width: 100%;
}
