@import "../../../styles//main.scss";

.edu-contents-container {
  position: relative;

  .edu-contents-desc {
    font-size: 0.75rem;
    text-align: left;
    color: var(--gray600);
  }

  .edu-categos-fav {
    color: var(--disabled);
    cursor: pointer;
    height: 4.5rem;
    font-size: 1.4rem;
    right: 1rem;
    top: -0.3rem;

    &:hover {
      color: rgba($color: #000000, $alpha: 0.8);
    }
  }
}
