@import "../../styles/main.scss";

.secondary-button {
  @include btns($white, $secondaryDark, $strokeGray, 0.2);
  border: 1px solid $strokeGray;

  .secondary-button-icon {
    margin-right: 0.5rem;
    top: 1px;
    position: relative;
  }
}
