@import "../../styles/main.scss";

.secondary-button {
  @include btns(var(--white), var(--secondaryDark), var(--strokeGray), 0.1);
  border: 1px solid var(--strokeGray);

  .secondary-button-icon {
    margin-right: 0.5rem;
    top: 1px;
    position: relative;
  }
}
