@import "../../styles/main.scss";

.boxcard-flag {
  border-radius: 10px;
  color: var(--white);
  padding: 0.4rem 0.7rem;
}

.text-smallText-flag {
  color: #1c1c22;
  font-size: 0.813rem;
  text-align: left;
  padding-bottom: 0.5rem;
}
