@import "../../styles/main.scss";

.dashboard-alert-link {
  margin-left: 0.4rem;
}

.mobile-scroll-dashboard {
  @include mobile-scroll(75.1vh, 100%, 0.5rem);

  .dashboard-page {
    @include scroll-page();
  }
}

.dashboard-titles,
.dashboard-contents {
  padding: 0 2rem;
}

.dashboard-contents {
  background-color: #f4f4f6;
}
.dashboard-tracker-cards,
.dashboard-tracker-cards-active {
  cursor: pointer;
  width: 6.5rem;
  margin: 0 auto;
  height: 5rem;
  margin-top: 2.5rem;
}

.dashboard-tracker-cards {
  background-color: $white;
  border: 1px solid $strokeGray;

  &:hover {
    background-color: rgba($color: gray, $alpha: 0.1);
  }
}

.dashboard-tracker-cards-active {
  border: 1px solid $mainPurple;
  background-color: rgba($color: $mainPurple, $alpha: 0.1);
  color: $mainPurple;
}

.dashboard-tracker-cards-deactivate {
  border: 1px solid $strokeGray;
  background-color: rgba($color: $disabled, $alpha: 0.2);
  color: $disabled;
}

.dashboard-tracker-texts,
.dashboard-tracker-texts-active {
  margin-top: 0.5rem;
  text-align: center;
}

.dashboard-tracker-texts-active {
  color: $mainPurple !important;
}

.journey-tracker {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;

  .journey-tracker-cardTexts {
    text-align: center;
    margin-top: 0.5rem;
  }
}

.divider-bottom {
  border-width: 2px;
  margin: 2.5rem 0;
}

.fuchi {
  text-align: left !important;
  padding-top: 2rem;
  margin-bottom: 0 !important;
}

.almost-cards {
  background-color: $white;
  border: 1px solid $strokeGray;
  cursor: pointer;
  display: block;
  margin: 1rem 0;

  &:hover {
    background-color: rgba($color: gray, $alpha: 0.1);
  }

  .almost-cards-contents {
    align-items: center;
    display: flex;
    justify-content: space-between;

    .almost-titles {
      position: absolute;
      left: 1rem;
      right: 0;
      margin: 0 auto;
      width: 39%;
      & > * {
        text-align: left;
      }
    }
    .almost-chevron {
      position: absolute;
      right: 3rem;
    }
  }
  .almost-cards-loader {
    width: 60px;
  }
}

.amost-nob {
  margin-bottom: 0.3rem !important;
}

.dash-seeAll {
  display: flex;
  justify-content: space-between;
}

.dashboard-contents-awards-badges {
  display: flex;
  justify-content: space-between;
  margin-top: 1.5rem;
}

.education-rounded-card {
  box-shadow: 0 3px 2px -2px $disabled;
  cursor: pointer;
  margin-bottom: 1rem;
  padding: 0;

  &:hover {
    background-color: rgba($color: $disabled, $alpha: 0.1);
  }

  .education-todo-texts {
    margin: 1rem;

    .education-purple-text {
      color: $mainPurple;
    }
  }
}

.dashboard-tracker-icons,
.dashboard-tracker-icons-active {
  font-size: 1.5rem;
}
