@import "../../styles/main.scss";

.mobile-scroll-asmt {
  @include mobile-scroll(75.1vh, 100%, 3.4rem);

  .asmt-page {
    @include scroll-page(0, 100%);

    .asmt-page-contents {
      height: 100%;
      margin: 0 1.5rem;
      position: relative;

      .asmt-contents {
        margin: 0 auto;
        top: 2.5rem;
        position: relative;
        width: 100%;

        .asmt-small-text {
          text-align: left;
        }

        .asmt-trophy-container {
          background-color: $mainPurple;
          border-radius: 50%;
          height: 5rem;
          width: 5.3rem;
          display: block;
          margin: 0 auto;
          margin-bottom: 1rem;
          font-size: 3rem;
          line-height: 5.7rem;

          .asmt-trophy {
            color: $white;
          }
        }

        .asmt-answers {
          .asmt-roundedCard {
            cursor: pointer;
            margin: 2rem 0;

            &:hover {
              @include purpleHover;
            }
          }
        }

        .active-answer {
          @include purpleHover;
        }
      }

      .asmt-texts {
        position: relative;
        top: 16rem;

        .asmt-small-text-firstScreen,
        .asmt-title-text {
          text-align: center;
        }

        .asmt-title-text {
          margin-bottom: 1rem;
        }
      }
    }
  }
}

.asmt-bottom-possition {
  bottom: 0;
  position: absolute;
  width: 100%;

  .asmt-primary-button {
    width: 90%;
  }
}

.asmt-bottom-possition-init {
  bottom: 1rem;
}

.asmt-title-center {
  text-align: center !important;
}
