@import "../../styles/main.scss";

.chat-badges {
  align-items: center;
  border-radius: 50%;
  color: var(--white);
  height: 45px;
  display: flex;
  justify-content: center;
  width: 45px;
}

.chat-badge-color1 {
  background-color: var(--badgeChat1);
}

.chat-badge-color2 {
  background-color: var(--badgeChat2);
}

.chat-badge-color3 {
  background-color: var(--badgeChat3);
}

.chat-badge-color4 {
  background-color: var(--badgeChat4);
}

.chat-badge-color5 {
  background-color: var(--badgeChat5);
}
