@import "../../styles/main.scss";

.icon-img {
  color: #b0b0bf;
  font-size: 2rem;
}

.text-smallText-contentCard {
  color: #1c1c22;
  font-size: 0.813rem;
  text-align: left;
  padding-bottom: 0;
}

.pollo {
  top: -0.8rem;
}
