.mobile-icon-effect {
  border: none;
  background: none;
  border-radius: 5px;
  color: $gray600;
  cursor: pointer;
  fill: $gray600;
  padding: 0.4rem 0.8rem;
  position: relative;
  text-align: center;

  &:hover {
    background-color: rgba($color: $white, $alpha: 0.5);
    color: $mainPurple;
    & > .active-icon {
      color: $gray600;
      fill: $mainPurple;
    }
  }
}

.mobile-icon-color {
  color: $mainPurple !important;
}

.mobile-icon-new {
  @include circleNotify($notification);
  display: inline-block;
  position: absolute;
  right: 0.563rem;
  top: 0.563rem;
  outline: 1px solid white;
}

.text-title {
  @include headingText;
  text-align: left;
  margin-bottom: 3rem;
}

.text-midText {
  @include defaultText;
  text-align: center;
  margin-bottom: 1.5rem;
}

.text-smallText {
  @include smallText;
  text-align: left;
  margin-bottom: 1.5rem;
}

.button-card-favs {
  background: none;
  border: none;
  cursor: pointer;
  line-height: 5.5rem;
  padding: 0;
  position: absolute;
  right: 0;
  z-index: 100;

  .button-card-star-inprogress,
  .button-card-star {
    font-size: 1.5rem;
  }

  .button-card-star {
    color: $disabled;
    margin-right: 1rem;

    &:hover {
      color: rgba($color: $dark, $alpha: 0.7);
    }
  }
  .button-card-star-inprogress {
    color: $white;
    margin-right: 2.5rem;
    position: relative;
    top: -0.5rem;

    &:hover {
      color: rgba($color: $disabled, $alpha: 0.3);
    }
  }
}

.image-top-roundedCorners {
  border-top-right-radius: 9px;
  border-top-left-radius: 9px;
}

.image-topBottom-roundedCorners {
  border-top-left-radius: 9px;
  border-bottom-left-radius: 9px;
}

.img-tint-dark {
  filter: saturate(94%) brightness(67%);
}
