$white: #fff;
$dark: #1c1c22;
$secondaryDark: #40404f;
$black: #000;

$footerGray: #f4f4f6;
$lightGray: #ececec;
$lighterGray: #fefefe;
$outlineGray: #e2e2e7;
$middleGray: #5d5d60;

$iconsColor: #6e6e87;

$lightBlue: #d2efff;

$mainPurple: #5c4bd3;
