$white: #fff;
$dark: #1c1c22;
$secondaryDark: #40404f;
$black: #000;

$footerGray: #f4f4f6;
$lightGray: #ececec;
$lighterGray: #fefefe;
$strokeGray: #e2e2e7;
$gray160: #dbdbdc;
$disabled: #b0b0bf;
$smallLabel: #707070;
$middleGray: #5d5d60;
$gray600: #6e6e87;

$lightBlue: #d2efff;

$mainPurple: #5c4bd3;

$notification: #d9107d;

$badgeChat1: #a20055;
$badgeChat2: #3900a2;
$badgeChat3: #008ca2;
$badgeChat4: #00a223;
$badgeChat5: #a27100;

$badgeTroph: #f58220;

$overlay: #202359;
