@import "../../styles/main.scss";

.mobile-scroll-education {
  @include mobile-scroll(75.1vh, 100%, 0.5rem);
  .education-page {
    height: 100%;
    margin: 0 auto;
    position: relative;
    text-align: center;
    top: 0%;
    width: 90%;

    .education-general-info {
      .education-text-title {
        margin-bottom: 1rem;
      }
      .education-text-mid {
        margin-bottom: 1.5rem;
      }
      .education-boxcard {
        background-color: var(--white);
        border: 1px solid var(--strokeGray);
        border-radius: 0.625rem;
        margin-bottom: 2rem;
      }
    }

    .education-todo {
      .education-rounded-card {
        box-shadow: 0 3px 2px -2px var(--disabled);
        cursor: pointer;
        margin-bottom: 1rem;
        padding: 0;

        .education-play-button {
          background: none;
          border: none;
          color: rgb(255, 255, 255);
          cursor: pointer;
          font-size: 5rem;
          position: absolute;
          top: 1.2rem;
          transform: translateX(-50%);
          z-index: 1000;
        }

        &:hover {
          background-color: rgba($color: var(--disabled), $alpha: 0.1);
        }

        .education-todo-texts {
          margin: 1rem;

          .education-purple-text {
            color: var(--mainPurple);
          }
        }
      }
    }

    .education-semibold-text {
      font-weight: 500;
      margin-bottom: 0.45rem;
    }

    .education-text-mid {
      text-align: left;
    }

    .education-mid-topMargin {
      margin-top: 2rem;
    }

    .education-completed {
      .education-completed-header {
        align-items: center;
        display: flex;
        justify-content: space-between;
      }
      .education-completed-cardContainer {
        border-radius: 0.625rem;
        padding: 0;
        margin-bottom: 1rem;
        position: relative;

        .education-completed-card {
          align-items: center;
          cursor: pointer;
          display: flex;
          justify-content: space-between;

          &:hover {
            background-color: rgba($color: var(--strokeGray), $alpha: 0.5);
            border-radius: 10px;
          }

          .education-img {
            height: 4.5rem;
            width: 4.5rem;
          }

          .education-card-texts {
            flex: 2;
            margin-left: 1rem;
            .text-midText {
              margin-top: 0.5rem;
            }
          }
        }
      }
    }
  }
}

.mobile-education {
  .education-page {
    height: 100%;
    margin: 0 auto;
    position: relative;
    text-align: center;
    top: 0%;
    width: 100%;

    .education-general-info {
      .education-text-title {
        margin-bottom: 1rem;
      }
      .education-text-mid {
        margin-bottom: 1.5rem;
      }
      .education-boxcard {
        background-color: var(--white);
        border: 1px solid var(--strokeGray);
        border-radius: 0.625rem;
        margin-bottom: 2rem;
      }
    }

    .education-todo {
      .education-rounded-card {
        box-shadow: 0 3px 2px -2px var(--disabled);
        cursor: pointer;
        margin-bottom: 1rem;
        padding: 0;

        .education-play-button {
          background: none;
          border: none;
          color: rgb(255, 255, 255);
          cursor: pointer;
          font-size: 5rem;
          position: absolute;
          top: 1.2rem;
          transform: translateX(-50%);
          z-index: 1000;
        }

        &:hover {
          background-color: rgba($color: var(--disabled), $alpha: 0.1);
        }

        .education-todo-texts {
          margin: 1rem;

          .education-purple-text {
            color: var(--mainPurple);
          }
        }
      }
    }

    .education-semibold-text {
      font-weight: 500;
      margin-bottom: 0.45rem;
    }

    .education-text-mid {
      text-align: left;
    }

    .education-mid-topMargin {
      margin-top: 2rem;
    }

    .education-completed {
      .education-completed-header {
        align-items: center;
        display: flex;
        justify-content: space-between;
      }
      .education-completed-cardContainer {
        border-radius: 0.625rem;
        padding: 0;
        margin-bottom: 1rem;
        position: relative;

        .education-completed-card {
          align-items: center;
          cursor: pointer;
          display: flex;
          justify-content: space-between;

          &:hover {
            background-color: rgba($color: var(--strokeGray), $alpha: 0.5);
            border-radius: 10px;
          }

          .education-img {
            height: 4.5rem;
            width: 4.5rem;
          }

          .education-card-texts {
            flex: 2;
            margin-left: 1rem;
            .text-midText {
              margin-top: 0.5rem;
            }
          }
        }
      }
    }
  }
}
.open-activity {
  right: 0;
}
.education-modal {
  background-color: #fff;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  height: 80%;
}
.education-todo-buttons {
  position: relative;
}
