@import "../../styles/main.scss";

.auth-methods {
  height: 7.5rem;
}

.auth-passcode {
  display: flex;
  height: 7.3rem;
  .passcode-inputs {
    height: 2.5rem;
    width: 2.5rem;
    text-align: center;
    &:focus {
      border-color: var(--mainPurple);
    }
  }
}

.passcode-resend {
  position: relative;
  top: -2.5rem;
}

.auth-passcode {
  .auth-methods-btns {
    margin-top: 0 !important;
  }
}
