@import "../../styles/main.scss";

.mobile-scroll-checkins {
  @include mobile-scroll();

  .checkins-page {
    height: 100%;
    margin: 0 auto;
    position: relative;
    text-align: center;
    top: 0;
    width: 100%;

    .checkins-texts {
      top: 12rem;
      position: absolute;
    }

    .checkinsPage-contents {
      height: 100%;
      margin: 0 1.5rem;
      position: relative;

      .checkins-contents {
        margin: 0 auto;
        top: 2.5rem;
        position: relative;
        width: 100%;
      }

      .checkins-text-center {
        text-align: center;
      }
    }

    .checkins-trophy-container {
      background-color: $mainPurple;
      border-radius: 50%;
      height: 5rem;
      width: 5.3rem;
      display: block;
      margin: 0 auto;
      margin-bottom: 1rem;
      font-size: 3rem;
      line-height: 5.7rem;

      .checkins-trophy {
        color: $white;
      }
    }

    .checkins-answers {
      .checkins-roundedCard {
        cursor: pointer;
        margin: 2rem 0;

        &:hover {
          @include purpleHover;
        }
      }
    }
    .active-answer {
      @include purpleHover;
    }

    .pollo {
      top: 39.5rem;
      width: 92%;
      margin: 0 auto;
      position: inherit;
    }

    .jote {
      bottom: 6.5rem;
      position: absolute;
      width: 100%;
    }
    .pollo3 {
      top: 19.9rem;
      width: 92%;
      margin: 0 auto;
      position: inherit;
    }
  }
}

.asmt-buttons {
  display: flex;
  justify-content: space-between;
  .asmt-margin-right {
    margin-right: 0.4rem;
  }
  .asmt-margin-left {
    margin-left: 0.4rem;
  }
}

.checkins-bottom-possition-init {
  bottom: 1rem;
}

.checkins-bottom-possition {
  bottom: 0;
  position: absolute;
  width: 100%;

  .checkins-primary-button {
    bottom: 1rem;
    position: relative;
    width: 90%;
  }
}

.checkins-title-center {
  text-align: center !important;
}
