@import "../../styles//main.scss";

.mobile-scroll-chats {
  @include mobile-scroll(75.1vh, 100%, 0);

  .chats-page {
    @include scroll-page();

    .chats-container {
      .chats-tabs {
        background-color: $footerGray;
        padding: 0 2rem;
        margin-top: 0;
        padding: 0.5rem 0 0 2rem;
        justify-content: start;

        .tabs-container {
          flex: none;

          .chat-tab-btn1::after {
            content: "1";
            background-color: $mainPurple;
            border-radius: 5px;
            color: $white;
            font-size: 0.8rem;
            padding: 0.1rem 0.2rem;
            text-align: center;
            margin-left: 0.5rem;
          }
        }
      }
    }
  }
}

.chats-contents-container {
  .chats-messages {
    margin: 0 auto;
    margin-top: 0;
    width: 100%;
    padding: 0.5rem;

    .chats-row {
      align-items: center;
      display: flex;

      .chat-row-flex2 {
        flex: 2;
      }
    }

    .chats-messages-container {
      cursor: pointer;
      display: flex;
      justify-content: space-between;
      margin-top: 0.3rem;
      padding: 0.5rem 1.8rem;

      &:hover {
        background-color: rgba($color: $disabled, $alpha: 0.1);
        border-radius: 5px;
      }

      .chat-messages-texts {
        flex: 2;
        margin-left: 1rem;
        .chat-messages-details {
          display: flex;
          justify-content: space-between;
          .startS-title-text {
            margin-bottom: 0.5rem !important;
          }
        }
      }
    }

    .chats-messages-individual {
      margin-top: 0;
      padding: 0.3rem 1.8rem;
    }

    .chats-divider {
      margin-top: 0.3rem;
    }
  }
}

.chats-contents-container-individual {
  padding: 0 2rem;
}

.chats-content-ongoing {
  .chats-contents-left {
    float: left;

    .chat-ongoing-globe1 {
      @include individualChatGlobe($mainPurple);
    }
  }
  .chats-contents-right {
    float: right;

    .chat-ongoing-globe2 {
      @include individualChatGlobe($darkPurple);
    }
  }

  .chats-divider-sections {
    clear: both;
    margin-bottom: 1.5rem;

    .chats-divider-today {
      background-color: #fff;
      color: gray;
      padding: 0.4rem 1rem;
      position: relative;
      top: 1.4rem;
    }
  }

  .chat-time-text {
    color: gray;
    text-align: right;
  }
}

.chat-send-icon {
  color: $mainPurple;
}

.chat-archive-icon {
  color: $mainPurple;
  cursor: pointer;
  font-size: 1.5rem;

  &:hover {
    color: $gray600;
  }
}

.chats-inputText {
  background-color: $white;
  bottom: 14.5%;
  border-top: 1px solid $strokeGray;
  left: 0;
  position: fixed;
  padding: 1rem 0;
  width: 100%;

  .chats-input-input {
    border-radius: 10px;
    border: 1px solid $strokeGray;
    height: 2rem;
    padding-left: 1rem;
    margin: 0 auto;
    margin-right: 0.8rem;
    width: 80%;
  }
}
