@import "../../styles/main.scss";

.header {
  @include headerFooter($footerGray, 0.5rem 1rem);
  top: 5.7rem;
  border-bottom: 1px solid $strokeGray;

  .header-contents {
    display: flex;

    .header-icons-logo {
      flex: 2;
      align-self: center;
    }

    .header-icon-notif {
      margin-right: 1rem;
      position: relative;
      z-index: 1000;
    }

    .activate-icons {
      color: $mainPurple;
    }
  }
}
