@import "../../styles/main.scss";

.footer {
  @include headerFooter($footerGray, 0.5rem);
  bottom: auto;
  border: 1px solid $footerGray;
  position: absolute;
  width: 100%;

  .footer-contents {
    display: flex;
    justify-content: space-between;

    .footer-icon-text {
      font-size: 0.75rem;
      text-align: center;
      margin-top: 0.5rem;
      word-wrap: break-word;
    }

    @media (max-width: 800px) {
      .footer-icon-text {
        font-size: 0.65rem;
        margin-top: 0.2rem;
      }
    }
    //comment
    .footer-buttons {
      font-size: 2rem;
    }

    @media (max-width: 800px) {
      .footer-buttons {
        font-size: 1.7rem;
      }
    }
  }
}

.footer-more-options {
  height: 93.4%;
  top: -5.6rem;
  background-color: rgba($color: $overlay, $alpha: 0.3);

  .footer-options {
    background-color: $white;
    bottom: -7.2%;
    cursor: pointer;
    display: flex;
    height: auto;
    flex-wrap: wrap;
    justify-content: space-between;
    position: absolute;
    padding: 5.9%;
    width: 100%;
    z-index: 1000;

    .footer-option-button {
      width: 6.5rem;
      margin: 0.2rem 0;

      .footer-card-option {
        align-items: center;
        border-radius: 0.875rem;
        border-bottom: 1.55895px solid #e2e2e7;
        display: flex;
        height: 6rem;
        justify-content: center;
        margin: 0.5rem 0.1rem 0.4rem;

        .footer-option-img {
          height: 3.1rem;
          width: 3.1rem;
        }
      }

      .footer-option-label {
        color: $gray600;
        font-size: 0.813rem;
        text-align: center;
      }
    }
  }
}
