@import "../../styles/main.scss";

.notify-pane {
  background-color: $footerGray;
  width: 100%;
  height: 64.15vh;
  overscroll-behavior: contain;
  right: -400px;
  position: absolute;
  transition: 40ms ease-in-out;
  top: 1rem;
  z-index: 100;

  @-webkit-keyframes slide {
    100% {
      right: 0;
    }
  }

  @keyframes slide {
    100% {
      right: 0;
    }
  }
}
