@import "../../styles/main.scss";

.list-section {
  .list-row {
    @include rowCards;
    cursor: pointer;

    &:hover {
      background-color: var(--lightGray);
    }

    .list-icon {
      margin-right: 1rem;
    }

    .list-texts {
      @include defaultText;
      flex: 2;

      .list-textComplement,
      .list-helperText {
        @include smallText;
      }

      .list-textComplement {
        color: var(--secondaryDark);
      }

      .list-helperText {
        color: var(--disabled);
      }

      & > * {
        padding: 0.1rem 0.3rem;
      }
    }

    .list-newMsg {
      @include circleNotify(var(--mainPurple));
    }
  }
}

.list-row-readed {
  background: none !important;
}

.list-chat-badge {
  background-color: var(--badgeChat1) !important;
}

.list-troph-badge {
  background-color: var(--badgeTroph) !important;
}

.list-calen-badge {
  background-color: var(--mainPurple) !important;
}
